*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    direction: rtl;
    color: white;
}


body{
    height: 100vh;
    width: 100vw;
    
}

main{
    /* border: 3px solid black; */
    height: 100%;
    
}

header{
    border: 3px solid gray;
    height: 11.5%;
    background: linear-gradient(rgba(143,143,143,1) 69%, rgba(161,161,161,1) 85%);

}

.upper-header{
    position: relative;
}
.upper-header .logo{
position: absolute;
right: 0;
top: 40%;
}

.upper-header, .lower-header{
    height: 50%;
    /* border: black solid 2px; for frame*/
    width: 47%;
    margin-left: auto;
    margin-right: auto;
}
           
section{
   
    width: 48%;
    height: 80%;
    margin: 0.5% auto 44.9px auto;
}
 
.row{
    /* border: yellow solid 3px;  for frame */
    height: 50%;
    display: flex;
    flex-direction: row;
}

.col-33{
    /* border: black solid 3px;  for frame */
    width: 33.333%;
    padding: 1%;
}
.row .col-33 .content{
    width: 33.33%;
}


header nav{
    display: flex;
    justify-content: flex-end;
}

header nav ul{
  
    display: flex;
    list-style-type: none;
    z-index: 999999999;

}

header nav ul li{

    border-right: solid white 2px; 
}

.drop-down-content ul{
    display: flex;
    flex-direction: column;
}


a{
    text-decoration: none;
    color: white;
    display: block;
    font-family: 'Arial (Hebrew)', Arial;
    font-weight: bold;
    font-size: 0.9rem;
   
    /* background-color: blue; */
    height: 100%;        /*full height of -li-*/
    padding: 12px;
}

.drop-down-content{
    display: none;
    z-index: 666;
}

.drop-down:hover > .drop-down-content{
    display: block;
    background: linear-gradient(180deg,rgba(143,143,143,1) 69%, rgba(161,161,161,1) 85%);
    z-index: 999;
}

.drop-down a:hover{
    text-decoration: underline;
    color: rgb(45, 118, 167);
}

.drop-down-content a:hover{
    text-decoration: underline;
    background-color: rgb(161, 159, 159);
    color: rgb(45, 118, 167);
    
}
.drop-down-content a:active{
background: linear-gradient(180deg,rgba(143,143,143,1) 69%, rgba(161,161,161,1) 85%);
}

.english-button{
    background-color: transparent;
    color: white;
    border: none;    
    cursor:pointer;
    outline:none;                    
    padding-left: 9px;

}

.english-button:hover{
    text-decoration: underline;
    color: rgb(22, 73, 107);
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    /*added for press effect*/
}
.search-button{
    cursor: pointer;
   
}

.search-bar-content input{
    border-top-right-radius: 9px;
    width: 113px;
    color: black;
}

button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    /*added for press effect*/
}

form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
   
}

a:active{

    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.row .col-33 .content{
    width: 100%;
    height: 100%;
    position: relative;
}

.row .col-33 .content img{
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
  
}

/* .img-grey-on-top{
    position: absolute;
   z-index: 1;
   left: 1%;
   padding-top: 84%;
   padding-right: 4%;
   padding-left: 12%;
   padding-bottom: 2%;
  
} */

.grey-background-content{
   
    z-index: 1;
    background-color: grey;
    position: absolute;
    right: 3%;
    bottom: 2%;
    left: 16%;
    top: 69%;
    padding: 0.5% 3% 2% 0;
    opacity: 0.9;
    border-bottom-right-radius: 20px;
    overflow: hidden;    /* on parent of h1 and p */
}
   

h1{
  font-size: 100%;
    font-weight: bold;
}
p{
    font-size: 80%;
    padding-left: 1%;
    font-family: 'Arial (Hebrew)', Arial;
}


/* need to change a color when not in :hover */
.grey-background-content div a{
    float: left;
    padding: 0%;
  text-decoration: underline;
}

.grey-background-content div a:hover{
    text-decoration: underline;
    color: rgb(22, 73, 107);
    
}

.grey-background-content div:last-child{
    margin-left: 2%;

    
}

.grey-background-content div a button{
    background-color: transparent;  /* override background-color problem */
    cursor: pointer;
}
.grey-background-content div a button:hover{
    text-decoration: underline;
    color: rgb(22, 73, 107);
}


/* 3 dots rotation not working */
.rotate{
    transform: rotate(90deg);
} 



.row .col-33 .content .reduced-size-content{
    height: 60%;
    background: linear-gradient(90deg, rgba(236,234,234,1) 0%, rgba(236,231,231,1) 58%);
    width: 100%;
    border-top-right-radius: 20px; 
    padding: 3% 3%;
}

h2{
    color: rgb(76, 90, 99);
    border-bottom: solid 2px rgb(202, 211, 221);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Arial (Hebrew)', Arial;
    padding-bottom: 3%;
}

.row .col-33 .content .reduced-size-content div img{

padding-top: 5%;

}

/* a = .extra-details in lower row of section*/
.row .col-33 .content .reduced-size-content div .extra-details{
      color: rgb(92, 85, 85);
      font-weight: lighter;
      text-decoration: underline;
      float: left;
}

 /* .extra-details  .rotate -> ∴ */
 .extra-details  .rotate{
     color: orange;
     font-size: 19px;
 }

 
div .extra-details .rotate:hover{
    text-decoration: underline;
    color: rgb(22, 73, 107);
 }
/* not working */
 /* div .extra-details:hover{
    text-decoration: underline;
    color: rgb(204, 28, 28);
 } */

 #second-interval{
     display: none;
 }


 .israel-map{
    float: left;
    max-width: 80px;
    max-height: 170px;

 }


footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 40px; 
    background: linear-gradient(0deg, rgba(143,143,143,1) 69%, rgba(161,161,161,1) 85%); 
  }
footer nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
} 

footer ul li a{
    color: white;
    border-right: solid 2px white;
   font-weight: lighter;
    
}