*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    direction: rtl;
    color: white;
}


body{
    height: 100vh;
    width: 100vw;
    
}

main{
    /* border: 3px solid black; */
    height: 100%;
    
}

header{
    border: 3px solid gray;
    /* height: 11.5%; */
    height: 110px;
    background: linear-gradient(rgba(143,143,143,1) 69%, rgba(161,161,161,1) 85%);
    position: relative;
    z-index: 54;
}

.upper-header{
    position: relative;
}
.upper-header .logo{
position: absolute;
right: 0;
/* top: 40%; */
top: 20px;
}

.upper-header, .lower-header{
    height: 50%;
    /* border: black solid 2px; for frame*/
    /* width: 47%; */
    width: 990px;
    margin-left: auto;
    margin-right: auto;
}
           
section{
   
    /* width: 48%; */
    width: 1000px;
    /* height: 80%; */
    height: 800px;
    margin: 25px auto 44.9px auto;
}
 
.row{
    /* border: yellow solid 3px;  for frame */
    height: 50%;
    display: flex;
    flex-direction: row;
}

.col-33{
    /* border: black solid 3px;  for frame */
    width: 33.333%;
    /* padding: 1%; */
    padding: 10px;
}
.row .col-33 > .content{
    width: 33.33%;
}


header nav{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;

}

header nav ul{
  
    display: flex;
    list-style-type: none;
    z-index: 999999999;   /* fixed menu behind pics problem */
}

header nav ul li{
    
    border-right: solid white 1px; 
}

.drop-down-content ul{
    display: flex;
    flex-direction: column;
}

.drop-down a{
    padding: 21px;
}


a{
    text-decoration: none;
    color: white;
    display: block;
    font-family: 'Arial (Hebrew)', Arial;
    font-weight: bold;
    font-size: 0.9rem; 
    /* background-color: blue; */
    height: 100%;        /*full height of -li-*/
    padding: 14px;
    white-space: nowrap;
    
}




.drop-down-content{
    display: none;
    z-index: 666;
    position: absolute;     /* fix drop down menu not starting from start of the parent */
}

.drop-down:hover > .drop-down-content{
    display: block;
    background: linear-gradient(180deg,rgba(143,143,143,1) 69%, rgba(161,161,161,1) 85%);
    z-index: 999;
  
}

.drop-down a:hover{
    text-decoration: underline;
    color: rgb(45, 118, 167);
}

.drop-down-content a:hover{
    text-decoration: underline;
    background-color: rgb(161, 159, 159);
    color: rgb(45, 118, 167);
}


.drop-down-content a:active{
background: linear-gradient(180deg,rgba(143,143,143,1) 69%, rgba(161,161,161,1) 85%);
}

.drop-down-content ul li{
    border-bottom: solid white 1px;
}


.english-button{
    background-color: transparent;
    color: white;
    border: none;    
    cursor:pointer;
    outline:none;                    
    padding-left: 9px;

}

.english-button:hover{
    text-decoration: underline;
    color: rgb(22, 73, 107);
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    /*added for press effect*/
}


.search-img{
    cursor: pointer;
    height: 26px;
}



.search-bar-content input{
    border-top-right-radius: 9px;
    width: 160px;
    height: 28px;
    color: black;
    border: gray solid 2px;
}


.search-bar-content{
    display: flex;
}

button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    /*added for press effect*/
}

form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
   
}

a:active{

    transform: translateY(4px);
}

.row .col-33 .content{
    width: 100%;
    height: 100%;
    position: relative;
}

.row .col-33 .content img{
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
  
}

/* .img-grey-on-top{
    position: absolute;
   z-index: 1;
   left: 1%;
   padding-top: 84%;
   padding-right: 4%;
   padding-left: 12%;
   padding-bottom: 2%;
  
} */

.grey-background-content{
   
    z-index: 1;
    background-color: grey;
    position: absolute;
    /* right: 3%; */
    right: 8px;
    /* bottom: 2%; */
    bottom: 10px;
    /* left: 16%; */
    left: 40px;
    /* top: 69%; */
    top: 270px;
    /* padding: 0.5% 3% 2% 0; */
    padding: 3px 11px 2px 22px;
    opacity: 0.9;
    border-bottom-right-radius: 20px;
    overflow: hidden;    /* on parent of h1 and p */
}
   

h1{
  /* font-size: 100%; */
    font-size: 16px;
    font-weight: bold;
}
p{
    /* font-size: 80%; */
    font-size: 13px;
    /* padding-left: 1%; */
    font-family: 'Arial (Hebrew)', Arial;
}


/* need to change -a- color when not in :hover */
.grey-background-content div a{
    float: left;
    padding: 0px;
  text-decoration: underline;
}

.grey-background-content div a:hover{
    text-decoration: underline;
    color: rgb(22, 73, 107);
    
}

.grey-background-content div:last-child{
    /* margin-left: 2%;     */
    margin-left: 3px;
}

.grey-background-content div a button{
    background-color: transparent;  override background-color problem
    cursor: pointer;
}
.grey-background-content div a button:hover{
    text-decoration: underline;
    color: rgb(22, 73, 107);
}



.rotate{
    transform: rotate(270deg);
    display: inline-block;    /* without in line block it will not rotate */
    margin-right: 2px;
} 



.row .col-33 .content .reduced-size-content{
    /* height: 60%; */
    height: 235px;
    background: linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(232,232,232,1) 71%);
    width: 100%;
    border-top-right-radius: 20px; 
    /* padding: 3% 3%; */
    padding: 10px 25px;
}

h2{
    color: rgb(76, 90, 99);
    border-bottom: solid 2px rgb(202, 211, 221);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Arial (Hebrew)', Arial;
    padding-bottom: 3%;
}

.row .col-33 .content .reduced-size-content div img{

padding-top: 5%;

}

/* a = .extra-details in lower row of section*/
.row .col-33 .content .reduced-size-content div .extra-details{
      color: rgb(92, 85, 85);
      font-weight: lighter;
      text-decoration: underline;
      float: left;
      padding-left: 0;
    
}


 /* .extra-details  .rotate -> ∴ */
 .extra-details  .rotate{
     color: orange;
     font-size: 19px;
     font-weight: bold;
    
 }

 .extra-details:hover{
   
    color: rgb(22, 73, 107);
 }

div .extra-details .rotate:hover{
   
    color: rgb(22, 73, 107);
 }
/* not working */
 /* div .extra-details:hover{
    text-decoration: underline;
    color: rgb(204, 28, 28);
 } */



 #second-interval{
     display: none;
 }
 
 #third-interval{
    display: none;
 }

 .israel-map{
    float: left;
    max-width: 80px;
    max-height: 170px;

 }

.reduced-size-content .israel-Regions .col-content-israel-Regions .north-mid-south{
    color: rgb(92, 85, 85);
    font-weight: lighter;
    text-decoration: underline;
}



.north-mid-south .rotate{
    color: orange;
    font-size: 19px;
    font-weight: bold;
}


.col-content-israel-Regions .north-mid-south:hover{
 
   color: rgb(22, 73, 107);
}

div .north-mid-south .rotate:hover{

   color: rgb(22, 73, 107);
}



footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 40px; 
    background: linear-gradient(0deg, rgba(143,143,143,1) 69%, rgba(161,161,161,1) 85%); 
    z-index: 9999999;
}
footer nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
} 

footer ul li a{
    color: white;
    border-right: solid 1px white;
   font-weight: lighter;
    
}

footer nav ul li a:hover{
    text-decoration: underline;
    color: rgb(30, 89, 128);
} 



/* contact page css __________________________*/


aside{
    /* border: solid 2px black; */
    width: 900px;
    margin-top: 32px;
    height: 426px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    color: black;
    /* background-color: brown; */
    font-family: 'Arial (Hebrew)', Arial;
}


aside a{
    color: black;
}


aside div{
    /* border: solid red 2px; */
    color: black;
}

.aside-menu{
width: 143px;
}

.aside-form{
width: 464px;
}

.aside-contact{
width: 293px;
}

.aside-menu a{
    color: black;
    background: linear-gradient(360deg, rgba(177,177,177,1) 5%, rgba(232,232,232,1) 71%);
    margin-left: 22px;
    font-weight: normal;
}

.arrow-pic{
    height: 9px;
    position: absolute;
    top: 160px;
}

.site-tree a{
  font-weight: lighter;
  font-size: 12px;
    color: #5c5c5c;
    padding: 0 0 14px 14px;
    display: inline-block;
}
.span-font{
    font-weight: lighter;
    font-size: 12px;
      color: #5c5c5c;
      padding: 0 0 14px 14px;
}

h3{
font-weight: bold;
border-bottom: solid 1px gray;
}

.form{
    margin: 11px 6px 0 69px;
    height: 335px;
    background: linear-gradient(90deg , rgba(235,235,235,1) 0%, rgba(232,232,232,1) 71%);
    border-top-right-radius: 40px;
}

h3{
    color:#72716d;
}

h4{
    font-weight: bold;
    font-size: 20px;
    color: #005ca0;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 5px;
}



.bold-text{
    color: #6d6d6d;
    font-weight: bold;
}

.form div div p{
    color: #6d6d6d;
}

.form div div{
    padding-right: 20px;
    padding-top: 6px;
}

.form-content{
    padding: 5px 38px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    
}

.form-content > div{
    padding: 5px;
}

/* align text of labels */
.form-content > div > label{
    width: 87px;
    display: inline-block;
 
}


.form-button{
    width: 40px;
    background-color: #005CA0;
    margin-left: 5px;
}

.form-content input{
    color: black;
}

.form-content textarea{
    color: black;
}

.form-content label{
    color: #6D6D6D;
    font-size: 13px;
}



 /* error display for Email */
/* .form-submitted input:valid{      
    border: green solid;
 }
 
 .form-submitted input:invalid{
     border: red solid;
  }
 
  .error{
      display: none;
      color: red;
  }
 
 .form-submitted input:invalid ~ .error{
     display: inline;
 } */


 .empty-space{
     margin-top: 53px;
 }


.contact-info{
    margin: 11px 6px 4px 69px;
    height: 150px;
    width: 280px;
    background: linear-gradient(90deg , rgba(235,235,235,1) 0%, rgba(232,232,232,1) 71%);
    border-top-right-radius: 40px;
    
}

.more-details-paz{
    margin: 20px 6px 0 69px;
    height: 150px;
    width: 280px;
    background: linear-gradient(
        90deg
        , rgba(235,235,235,1) 0%, rgba(232,232,232,1) 71%);
    border-top-right-radius: 40px;
}

.contact-info-content{
    padding-right: 20px;
    padding-top: 10px;
}


.more-details-paz-content{
    padding-right: 20px;
    padding-top: 10px;
}

.press-here-link{
    color: blue;
    padding:0;
    font-size: 13px;
}

.textarea{
    width: 260px;
    height: 77px;
}